html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* 스크롤바 숨기기 */
html,
body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
